/* YeyeYeee código aquí */
/*
gris: #414042
amarillo: #EEA400
gris claro: #D6D7D9
*/

body{
	background-color: #414042;
	font-family: 'Roboto', sans-serif;
}

a{
	text-decoration: none;
	color: whitesmoke;
}

/*-----estilos INICIO*/

.logo{
	margin-top: 90px;
	margin-bottom: 40px;
}

.caja-logo{
	width: 50%;
	margin:0 auto;
}

.logo img{
	width: 100%;

}

.titulo{
	text-transform: uppercase;
	font-weight: bolder;
	text-align: center;
	font-size: 30px;
	color: #EEA400;
}

.ingreso{
	font-weight: 300;
}

.ingreso button{
	display: block;
	width: 100%;
	background-color: #EEA400;
	color: grey;
	border: 0;
	height: 50px;
	letter-spacing: 2px;
	margin-bottom: 10px;
}

.ingreso input{
	border:solid thin whitesmoke;
	width: 100%;
	height: 50px;
}

.ayuda{
	font-size: 12px;
	font-weight: 300;
	margin-top: 20px;
}

.registrate{
	margin-top: 20px;
	margin-bottom: 10px;
}

.registrate p{
	font-weight: 300;
	color:white;
}

.registrate a{
	color: #EEA400;
}

/*todo esto para colocar el icono dentro del input*/
.inner-addon {
  position: relative;
}

.inner-addon .fa {
  position: absolute;
  padding: 18px 5px;
  pointer-events: none;
  color: silver;
}

.left-addon .fa  { 
	left:  5px;
}

.left-addon input  { 
	padding-left: 30px; 
}
/*-----------------------*/

